<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :service_category %>
    <br>

    <select name="service[service_category_id]">
      <% ServiceCategory.all.each do |cat| %>
          <option value="<%= cat.id %>"><%= cat.category %></option>
      <% end %>
    </select>
    <small class="text text-danger">Some services need to have further negotiation, thus they will have a 'send request' button rather than a 'confirm book' button.</small>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.text_field :availability %>
  </div>
  <div class="field">
    <%= f.label :quote_type_id %><br>

    <select name="service[quote_type_id]">
        <option value="1">Direct book and payment</option>
        <option value="2">Negotiation needed</option>
    </select>

  </div>
  <div class="field">
    <%= f.label :base_price %>
    <br>
    <%= f.text_field :base_price %>
    <small class="text text-danger">We always ask for a fixed baseline price. One of the aims of the application is to ease the process of hiring services.</small>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
