<div class="row">

  <% @services.each do |service| %>

    <div class="col-sm-3 col-md-3">
      <div class="thumbnail service-block">
        <%= image_tag 'cleaner-service.jpg' %>
        <div class="caption">
          <h3 class="service-name"><%= link_to service.name, service_path(service) %></h3>

          <p class="service-description"><%= service.description %></p>

          <p class="bg-success">
            Available: all week-days
          </p>

          <div>
            rate: <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>

          <div>
            reviews: 98
          </div>

          <hr>

          <p>
            <%= button_to 'Hire', service_path(1), method: :get, class: 'btn btn-success pull-left' %>
            <%= button_to 'Details', service_path(1), method: :get, class: 'btn btn-default' %>
          </p>

          <div class="pull-right bg-primary">
            <span>Price : <%= service.base_price %> p/h</span>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Base price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.base_price %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
