<div class="container">
  <h1>Confirmation</h1>

  <% if @service.id.even? %>

    <h2 class="text-warning">Oops! It seems like your payment was declined.
      <a href="/services/<%= @service.id %>/payment">Try again</a>!
    </h2>

  <% else %>
    <h2 class="text-success">Congrats! The service is booked and confirmed.<small>here is your <a href="#">receipt</a></small></h2>

  <% end  %>
</div>
