<p id="notice"><%= notice %></p>

<div class="container">
  <div id="search" class="row">

      <form class="form-inline">
        <div class="form-group">
          <div class="dropdown" id="dropdown-categories">

            <button id="dropdown-categories" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expended="false">

              <span class="glyphicon glyphicon-list"></span>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledbye="dropdown-categories">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Home & Office</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">IT Services</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gardening</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Health & Beauty</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sport and Fitness</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marketing</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Restaurants</a></li>
            </ul>
          </div>

          <div class="input-group">

            <label class="sr-only">Search: </label>
            <input id="search-text" type="text" class="form-control" placeholder="What service do you need?"></input>

            <%= link_to 'Search', services_path, class: 'btn btn-primary' %>
          </div>
        </div>

      </form>
  </div>

  <%= render 'services/list' %>
</div>



<br>

<%= link_to 'New Service', new_service_path %>
