<h1>Fill in with the payment details</h1>

<div class="container">
  <div class="row">
      <form class="form-horizontal" action="/services/<%= @service.id %>/confirm" method="get">

        <div class="form-group">
          <label for="paymentName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <label for="paymentCard" class="col-sm-2 control-label">Card Number</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Card Number">
          </div>
        </div>

        <div class="form-group">
          <label for="paymentCard" class="col-sm-2 control-label">Expiration Date</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" id="contact-email">
          </div>
        </div>

        <div class="form-group">
          <label for="paymentCard" class="col-sm-2 control-label">Security Code</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="security-code">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-success">Confirm</button>
          </div>
        </div>

      </form>
  </div>


</div>
