
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail service-block">

        <%= image_tag 'cleaner-service.jpg' %>

        <div class="caption">
          <h3 class="service-name"><%= @service.name %></h3>

          <p class="service-description"><%= @service.description %></p>

          <p>
            Available: all week-days
          </p>

          <div class="col-sm-7">
            rate: <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star text-primary"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>

          <div class="col-sm-5">
            reviews: 98
          </div>

          <p>
            .
          </p>
          <div class="pull-right bg-primary">
            <span>Price : <%= @service.base_price %> p/h</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <h3>Want to hire this service?<br>
        <small class="text-success">Just fill in this form and proceed to the payment.</small>
      </h3>

      <form class="form-horizontal" action="/services/<%= @service.id %>/payment" method="get" >

        <% if !@service.id.even? %>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="name">Quantity</label>

          <div class="col-sm-2">
            <input type="text" class="form-control" id="service-quantity" placeholder="1">
          </div>
        </div>

        <% end %>
        
        <div class="form-group">
          <label class="col-sm-4 control-label" for="email">Date(s)</label>

          <div class="col-sm-8">
            <input type="date" class="form-control" id="contact-email">
            <small class="text-danger">This field will contain as many dates as it is specified in the 'quantity field'.</small>

          </div>


        </div>
        <% if @service.id.even? %>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="subject">Description</label>

          <div class="col-sm-8">
            <textarea rows="5" class="form-control" id="contact-subject"></textarea>
          </div>
        </div>

        <% end %>
        <div class="form-group">
          <div class="col-sm-offset-5">
            <%= submit_tag 'Proceed to payment', class: 'btn btn-primary' %>
          </div>
        </div>
      </form>
    </div>

  </div>

  <%= link_to 'Edit', edit_service_path(@service) %> |
  <%= link_to 'Back', services_path %>
</div>
