
<h3>Fill with details about your business</h3>

  <%= form_for(@business, html: {class: 'form-horizontal'}) do |f| %>
    <% if @business.errors.any? %>
      <div id="error_explanation">
        <h2>Oops! Try again fixing the following errors:</h2>

        <ul>
        <% @business.errors.full_messages.each do |message| %>
          <li class="alert alert-danger"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, nil, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :name %>
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4">Motto</label>
      <div class="col-sm-8">
        <input type="text"></input>
        <small>Haven't got a nice phrase to put here?You can leave it for later!</small>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :description, 'Description of your company', class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_area :description, cols: '50', rows: '7' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.email_field :email %>
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :telephone, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :telephone %>
      </div>

    </div>
    <div class="form-group">
      <%= f.label :logo, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <input type="button" disabled="true" class="btn btn-primary" value="Pick an image"></input>
        <small>Sorry, the image picker is not available yet. Don't worry, we're gonna set a nice default logo for you.</small>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.password_field :password %>
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      </div>

    </div>

    <div class="form-group">

      <label class="control-label col-sm-4">Password confirmation</label>

      <div class="col-sm-8">
        <input type="password"></input>
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      </div>

    </div>

    <div class="col-sm-offset-2">
      <%= f.submit class:'btn btn-success' %>
    </div>
  <% end %>
