<div class="container">

  <h2 class="text-primary">Select the category</h2>

  <div class="row">

    <div class="col-sm-6">
      <a href="/businesses/new?category=business" class="btn btn-primary">Small Business</a>
    </div>

    <div class="col-sm-6">
      <a href="/businesses/new?category=individual" class="btn btn-primary">Individual Worker / Free Lancer</a>
    </div>
  </div>

</div>
