<div class="container">
  <h1 class="orange">Engage in the e-commerce world now!</h1>

  <% if params[:category] == 'business'  %>
    <%= render 'form' %>
  <% else %>
    <%= render 'form_individual' %>
  <% end %>

  <%= link_to 'Back', businesses_path %>
</div>
