
<div class="alert alert-warning">
  Some images used for listing the services were taken under the license <a href="http://pixabay.com/pt/service/terms/#download_terms">CC0 Public Domain</a>
</div>

<header class="navbar-fixed-top" id="business-header">
  <%= link_to 'home', root_path, class: 'pull-left' %>
  <div class="container">
    <div class="col-xs-4 logo">
      <%= @business.name %>
    </div>

    <div class="col-xs-4">
      <label>share your e-commerce to the world!</label><br>

      <%= render 'layouts/socialmedia' %>

    </div>
    <div class="col-xs-4">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Edit Profile', edit_business_path(@business) %>
          </li>
          <li>
            <%= link_to "Log out", root_path, id:'logout' %>
          </li>
          <li>
            <%= link_to "New Service", new_service_path, class: 'btn btn-success' %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">

    <div class="col-sm-6" id="business-details">
      <h1 class="motto">Experienced and thorough cleaners! <small class="text-danger">(Dynamic motto will be placed here)</small></h1>
      <p>
        <%= @business.description %>
      </p>
    </div>

    <div class="col-sm-6">
      <h2>Get in touch, <small>send us a message</small></h2>

      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="contact-name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="contact-email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="contact-subject" placeholder="Enter the subject">
        </div>
        <%= button_to 'Submit', :back, action: 'get', class: 'btn btn-primary' %>
      </form>
    </div>

  </div>

  <div class="row">
    <h2>Check out our list of services</h2>

    <%= render 'services/list' %>

  </div>
</div>
