<div class="container">
  <div id="search" class="row">

      <form class="form-inline" action="/services/">
        <h2>Find the service you need and hire it straight away</h2>
        <div class="form-group">
          <div class="dropdown" id="dropdown-categories">

            <button id="dropdown-categories" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expended="false">
              <span class="glyphicon glyphicon-list"></span>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledbye="dropdown-categories">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Home & Office</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">IT Services</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gardening</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Health & Beauty</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sport and Fitness</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marketing</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Restaurants</a></li>
            </ul>
          </div>

          <div class="input-group">

            <label class="sr-only">Search: </label>
            <input id="search-text" type="text" class="form-control" placeholder="What service do you need?"></input>

            <%= button_to 'Search', services_path, class: 'btn btn-primary' %>
          </div>
        </div>

      </form>
  </div>

  <div class="row">
    <h2 class="orange text-center">See how is easy to register your business</h2>
    <hr />
    <div class="col-sm-6">
      <h2><span class="text-primary">Step 1: </span><small>Register your business</small></h2>

      <h2><span class="text-primary">Step 2: </span><small>Register your services</small></h2>

      <h2><span class="text-primary">Step 3: </span><small>Share your page</small></h2>

      <h3 class="text-success">Your are done!</h3>
    </div>

    <div class="col-sm-6">
      <%= image_tag "how-works.png", id:'how-works' %>

    </div>

  </div>

</div>
