// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #337ab7;

//= depend_on_asset "header-bg.png"

#business-header {
  height: 80px !important;
  background-image: image-url('header-bg.png');
}

#business-details {

  padding-right: 30px;

  h1 {
    color:$blue;
  }
  p {
    text-align: justify;
    margin-top: 30px;
    line-height: 28px;
  }
}

h3.service-name {
  margin-top: 10px;
  color: $blue;
}

.caption > div {
  border-width: 2px;
  border-style: solid;
  border-color: #e6e6e6;
}

.glyphicon-asterisk {
  color:red;
}
