// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* VARIABLES */
$blue: #337ab7;
$grey-bg: #e6e6e6;
$orange: #E89619;

/* COLORS */
.orange {
  color:$orange;
}

/* GENERAL */

body {
  padding-top: 90px;
  padding-bottom: 50px;
  background-image: image-url("concrete-seamless.png");
  background-repeat: repeat;
}

/* HEADER */

header {
  background-color: $grey-bg;
  height: 50px;
  padding: 10px;

}

#main-header {
  padding-top: 0px;
}


.logo {
  text-align: center;
  font-size: 27px;
  padding: 5px 20px;

  a {
    font-family: "Comic Sans MS";

    :hover {
      text-decoration: none;
    }
  }
}

/* HOME PAGE */
img#how-works {

}

div#dropdown-categories {
  display: inline;
}

div#search {
  padding-bottom: 30px;
  text-align: center;
}

input#search-text {
  width:400px;
}

/* FOOTER */
div#footer {
  background-color: red;
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-align: center;

  span {
    color: white;
    font-size: 10px;
  }
}

.debug_dump {
  width: 100%;

  position: fixed;
  bottom: 20px;
}
