<header class="navbar-fixed-top" id="main-header">

  <div class="container">
    <div class="col-xs-4 logo">
        <%= link_to "Service Finder", root_path %>
    </div>
    <div class="col-xs-8">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Log in", '/login', id:'login' %>
          </li>
          <li>
            <%= link_to "Sign up", '/login', id:'signup' %>
          </li>
          <li>
            <a href="/category" class="btn btn-success">Register your business</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
